@import "tailwindcss";




.tilt {
  transition: transform 0.4s ease;
  transform-style: preserve-3d;
}

.tilt:hover {
  transform: perspective(900px) rotateX(8deg) rotateY(8deg) scale(1.05);
}


@keyframes scroll-arrow {
  0% {
    transform: translateY(0);
    opacity: 0.3;
  }

  40% {
    opacity: 1;
  }

  80% {
    transform: translateY(14px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.animate-scroll-arrow {
  animation: scroll-arrow 1.8s infinite ease-in-out;
}

@keyframes colorfulGlow {
  0% {
    filter: drop-shadow(0 0 10px #e67070);
  }

  /* red */
  25% {
    filter: drop-shadow(0 0 10px #6fc76f);
  }

  /* green */
  50% {
    filter: drop-shadow(0 0 10px #1496e6);
  }

  /* blue */
  75% {
    filter: drop-shadow(0 0 10px #ed7ded);
  }

  /* magenta */
  100% {
    filter: drop-shadow(0 0 10px #38f6c0);
  }

  /* back to red */
}

.colorful-glow {
  animation: colorfulGlow 4s infinite linear;
}